@import "tailwindcss";

@theme {
  --color-health-red: #a80000;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.video-placeholder {
  aspect-ratio: 16 / 9;
  background-color: #000;
  position: relative;
}

